# 4.7 Instacart deriving new variables

## This script contains the following points:
### 1. Import and verify 'orders_products_merged.pkl' dataframe
### 2. Limit dataframe to first 1000000 rows
### 3. Define then apply function price_label by row - axis = 1
### 4. Using loc() to achieve the same outcome on df subset
### 5. Using loc() to achieve the same outcome on full dataframe
### 6. Create for-loop to summarize how busy each day of the week is
### 7. Task 2 - Create for-loop to summarize 2 busiest and 2 slowest days
### 8. Task 4 - Use loc function to identify 'Most orders', 'Average orders', and 'Fewest orders'
### 9. Export as 'orders_products_merged.pkl'

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

### 1. Import and verify 'orders_products_merged.pkl' dataframe

In [2]:
path = r'C:\Users\howl6\OneDrive\Certificates\CareerFoundry\Coursework\Data_Immersion\Chapter 4\Instacart Basket Analysis'

In [3]:
# import 'orders_products_merged.pkl' dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path,'02_Data','Prepared_Data', 'orders_products_merged.pkl'))

In [4]:
# view rows, columns

ords_prods_merge.shape

(32404859, 15)

### 2. Limit dataframe to first 1000000 rows

In [7]:
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 15)

In [9]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

### 3. Define then apply function price_label by row - axis = 1

In [9]:
# If the value in the “prices” column within the given row is less than or equal to 5, 
# then return the string “Low-range product.”
# Or else, if the value in the “prices” column within the given row is greater than 5 and less than or equal to 15, 
# then return the string “Mid-range product.”
# Or else, if the value of the “prices” column within the given row is greater than 15, 
# then return the string “High-range product.”
# Or else, return the string “Not enough data.”

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [10]:
# apply function price_label to df

df['price_range'] = df.apply(price_label, axis=1)

<ipython-input-10-6101b6eb2f64>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
# highest, lowest and mid-range prices using user-defined

df['price_range'].value_counts(dropna = False)

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [12]:
df['prices'].max()

24.5

### 4. Using loc() to achieve the same outcome on df subset

In [13]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\howl6\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\howl6\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

C:\Users\howl6\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [15]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

C:\Users\howl6\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [16]:
# highest, lowest, and mid-range prices using loc on df subset.

df['price_range_loc'].value_counts(dropna = False)

Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: price_range_loc, dtype: int64

### 5. Using loc() to achieve the same outcome on full dataframe

In [17]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [21]:
# view rows, columns

ords_prods_merge.shape

(32404859, 16)

In [18]:
# view top 5 rows

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,_merge,price_range_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product

### 5. Create for-loop to summarize how busy each day of the week is

In [22]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [23]:
#'O  = Saturday', '1 = Sunday', '2 = Monday', '3 = Tuesday', '4 = Wednesday', '5 = Thursday', '6 = Friday'

result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [24]:
ords_prods_merge['busiest_day'] = result

In [25]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [26]:
# view top 5 rows

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy

### 6. Task 2 - Create for-loop to summarize 2 busiest and 2 slowest days

In [27]:
# for-loop on 'outcome' for values '0' and '1' as busiests days, '3' and '4' as slowest days

outcome = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value == 0:
        outcome.append("Busiest days")
    elif value == 1:
        outcome.append("Busiest days")
    elif value == 3:
        outcome.append("Slowest days")
    elif value == 4:
        outcome.append("Slowest days")
    else:
        outcome.append("Regularly busy")

In [28]:
ords_prods_merge['busiest_days'] = outcome

In [29]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

In [30]:
# view top 5 rows

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days

### A new column 'busiest_days' was created, with values for 'Busiest days', 'Slowest days', 'Regularly busy' noted by row corresponding to values for each.

 ### 7. Task 4 - Use loc function to identify 'Most orders', 'Average orders', and 'Fewest orders'

In [31]:
# time of day with most to least frequent orders

ords_prods_merge['order_time_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_time_of_day, dtype: int64

### '8-18' time of day has  'Most orders', '6-7' time of day & '19-23' time of day have 'Average orders', '0-5' time of day has 'Fewest orders'.

In [32]:
# use loc function to create 'busiest_period_of_day' values

ords_prods_merge.loc[(ords_prods_merge['order_time_of_day'] <= 18) & (ords_prods_merge['order_time_of_day'] > 8), 'busiest_period_of_day'] = 'Most orders'

In [33]:
ords_prods_merge.loc[(ords_prods_merge['order_time_of_day'] <= 5) & (ords_prods_merge['order_time_of_day'] > 0), 'busiest_period_of_day'] = 'Fewest orders'

In [34]:
ords_prods_merge.loc[(ords_prods_merge['order_time_of_day'] <= 7) & (ords_prods_merge['order_time_of_day'] > 8), 'busiest_period_of_day'] = 'Average orders'

In [35]:
ords_prods_merge.loc[(ords_prods_merge['order_time_of_day'] <= 23) & (ords_prods_merge['order_time_of_day'] > 19), 'busiest_period_of_day'] = 'Average orders'

In [36]:
# print frequency for each value

ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

Most orders       24842227
NaN                4376739
Average orders     2808334
Fewest orders       377559
Name: busiest_period_of_day, dtype: int64

In [37]:
# new column 'busiest_period_of_day' added

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Most orders

### 8. Export as 'order_products_merged.pkl'

In [37]:
ords_prods_merge.to_pickle(os.path.join(path, '02_Data','Prepared_Data', 'orders_products_merged.pkl'))