# Task Exercise 4.9 Book 2. Refining orders_products_merged

## The senior Instacart officers have given you a new data set of customer information to go along with your product and order data. In part 2 of the task, you’ll need to incorporate this new data set into your project. In part 2, you’ll create some visualizations, conduct some exploratory analysis, and begin wrapping up everything you’ve done in this Achievement in preparation for the final task in the next Exercise, where you’ll write up a report for your client.

### Due to the size of the dataframe, this exercise was broken into multiple notebooks to conserve memory.  This notebook is focused on importing the 'orders_products_merged.pkg' dataframe and converting the 'user_id' column from to 'str' to  facilitate merger with 'customers_checked.csv'. 


## This script contains the following points:

## 1. Import 'orders_products_merged


## 2. Converting  'user_id'  from 'int64' to 'str'


## 3. Export modified 'orders_products_merged.pkl' dataframe

## 1. Import 'orders_products_merged.pkl' dataframe

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os
#import matplotlib.pyplot as plt
#import seaborn as sns
#import scipy

In [2]:
path = r'C:\Users\howl6\OneDrive\Certificates\CareerFoundry\Coursework\Data_Immersion\Chapter 4\Instacart Basket Analysis'

In [3]:
# import 'orders_products_merged.pkl' dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path,'02_Data','Prepared_Data', 'orders_products_merged.pkl'))

In [4]:
# view top 5 rows 

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spending_flag,median_days_prior_order,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [5]:
# view number of rows, columns

ords_prods_merge.shape

(32404859, 25)

In [6]:
ords_prods_merge.dtypes

product_id                    int64
product_name                 object
aisle_id                      int64
department_id                 int64
prices                      float64
order_id                      int64
user_id                       int64
order_number                  int64
orders_day_of_week            int64
order_time_of_day             int64
days_since_prior_order      float64
first_time_order               bool
add_to_cart_order             int64
reordered                     int64
_merge                     category
price_range_loc              object
busiest_day                  object
busiest_days                 object
busiest_period_of_day        object
max_order                     int64
loyalty_flag                 object
mean_prices                 float64
spending_flag                object
median_days_prior_order     float64
frequency_flag               object
dtype: object

## 2. Convert  'user_id'  from 'int64' to 'str' to faciliate merger with 'customers_checked.csv'

In [ ]:
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

## 3. Export modified 'orders_products_merged.pkl' dataframe.

In [ ]:
ords_prods_merge.to_pickle(os.path.join(path, '02_Data','Prepared_Data', 'orders_products_merged.pkl'))